name: Test

on:
    push:
        branches:
            - '**'
    pull_request: 
        branches:
            - '**'
    workflow_dispatch:
    workflow_call:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
  
    - name: Restore dependencies
      run: dotnet restore src/vv.sln

    - name: Test
      run: dotnet test src/vv.sln --no-restore